.class {
    padding-block: calc(var(--header-height) + 13rem);
}

.class-container {
    display: flex;

    justify-content: space-evenly;
}

.class-img {
    width: 30vw;
    border-radius: 1.6rem;
}

.class-subImg {
    border-radius: 1.6rem;
    width: 15vw;
    position: absolute;
    transform: translateY(-100px) translateX(-50px);
}

.class-title {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--clr-white);
    margin-bottom: 2rem;
}

.class-description {
    color: var(--clr-light-gray);
    max-width:30vw;
    margin-bottom: 8rem;
}

.class-btn {
    font-size: 1.6rem;
    padding: 1.4rem 2.6rem;
    border-radius: .5rem;
    transition: all .5s;
    color: var(--clr-white);
    background-color: var(--clr-light-yellow);
    transition: all .5s;
}

.class-btn:hover {
    background-color: var(--clr-dark-yellow);
}

