.community {
    background-color: var(--clr-dark-gray);
    padding-block: calc(var(--header-height) + 5rem);
}

.community-content {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.community-img {
    position: absolute;
    width: 7rem;
    transform: translateX(400px) translateY(50px);
    opacity: .5;
}

.community-container {
    display: flex;
    flex-direction: column;
}

.community-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.community-title {
    font-size: 2rem;
    color: var(--clr-white);
}

.community-description {
    color: var(--clr-light-gray);
    max-width: 71rem;
}

.community-stars {
    font-size: 2.6rem;
    color: var(--clr-light-yellow);
    margin-bottom: 2rem;
}

.community-person {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.person__img {
    width: 8rem;
    border-radius: 50%;
}

.person-name {
    color: var(--clr-white);
    font-size: 1.6rem;
}

.person-occupation {
    color: var(--clr-light-gray);
}

.community-arrows {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2rem;
}

.community-arrow {
    font-size: 5rem;
    color: var(--clr-light-yellow);
}

  