.program {
    margin-bottom: 5rem;
    padding-block: calc(var(--header-height) + 5rem);
}

.program-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 8rem;
}

.title-program {
    font-size: 4rem;
    color: var(--clr-white);
}

.program-arrows {
    display: flex;
    gap: 2rem;
}

.program-arrow {
    color: white;
    font-size: 48px;
    transition: all .5s;
}

.program-arrow:hover {
    color: var(--clr-dark-yellow);
}

.program-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.program-item {
    display: flex;
    flex-direction: column;
    height: 33vh;
    gap: 1rem;
    background-color: var(--clr-dark-gray);
    padding: 1.6rem;
    border-radius: .5rem;
    transition: all .5s;
}

.program-item:hover {
    background-color: var(--clr-medium-gray);
    border: 1px solid var(--clr-light-yellow);
}

.program-icon {
    background-color: var(--clr-light-yellow);
    padding: 1rem;
    border-radius: .5rem;
}

.program-subtitle {
    color: var(--clr-white);
}

.program-description {
    max-width: 30rem;
    color: var(--clr-light-gray);
}

.program-link {
    cursor: pointer;
    color: var(--clr-light-gray);
    font-size: 1.6rem;
}

.program-link:hover {
    color: var(--clr-light-yellow);
}

.arrow-link {
    font-size: 1.6rem;
}

.arrow-link:hover {
    color: var(--clr-light-yellow);
}

@media (max-width: 1360px) {
    .program-description {
        font-size: 1.3rem;
    }
}

@media (max-width: 1110px) {
    .program-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 680px) {
    .title-program {
        font-size: 3rem;
    }
    
    .program-arrow {
        font-size: 38px;
    }

    .program-item {
        margin: 0rem 2rem;
    }

    .program-description {
        max-width: 60rem;
    }
}